ion-content.card-background-page{
ion-card {
text-align: left;
}
ion-card img{
height:200px;
}


.card-title {
top: 36%;
font-size: 2.0em;
width: 100%;
font-weight: bold;
//color: #fff;
}

.card-subtitle {
font-size: 1.0em;
top: 52%;
width: 100%;
//color: #fff;
}
}