<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div *ngIf="fooddetail; else noName">
        {{fooddetail.name}}
        <div float-right>
          $10
        </div>
      </div>
      <ng-template #noName>
        -
        <div float-right>
          $0
        </div>
      </ng-template>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="main-image">
      <ion-col>
        <ion-item>
          <div *ngIf="fooddetail; else noImage">
            <img src="{{fooddetail.image}}" class="logo" />        
          </div>
          <ng-template #noImage>
            <img src="assets/imgs/logo.png" class="logo" />
          </ng-template>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <p>Options</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 text-center>
        <ion-item>
          <ion-checkbox [(ngModel)]="noTute"></ion-checkbox>        
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          Tomatoes
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <p>Extras</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <p>Cheese</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <p>Size</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <p>Large</p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
